[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/supertab.vim"]
	path = .vim/bundle/supertab.vim
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/tComment.vim"]
	path = .vim/bundle/tComment.vim
	url = git://github.com/vim-scripts/tComment.git
[submodule ".vim/bundle/vim-align.vim"]
	path = .vim/bundle/vim-align.vim
	url = git://github.com/tsaleh/vim-align.git
[submodule ".vim/bundle/vim-coffee-script.vim"]
	path = .vim/bundle/vim-coffee-script.vim
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-surround.vim"]
	path = .vim/bundle/vim-surround.vim
	url = git://github.com/tpope/vim-surround.git
